<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
 
    <title>BEEF PRODUCTS</title>
  </head>
  <body>
    <div class="container">
        <div class="row gy-3 my-3">
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class=card>
                     <img src="https://imgs.search.brave.com/Jg21WHztDIBXKWlgBySqHAe0sreliZOFykHFyHLKshk/rs:fit:632:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC4t/VzdRbGdPTlBSaVhY/SnRFdF9qbDFRSGFG/aiZwaWQ9QXBp" class="card-img-top" alt="image">
                        <div class="card-body">
                            <h5 class="card-title">Beef,grass-fed,strip steaks.lean only,raw (100 g)</h5>
                            <p class="card-text">
                                PROTEINS : 23.0g
                                CARBOHYDRATES: 0.0g
                                CALCIUM:9mg<BR>
                                FATS : 2.0g
                            </p>
                        </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class=card>
                     <img src="https://imgs.search.brave.com/WwlzmFWGy6Ij9d6mkjCg4puyXGYnTHHNn_iKrBYJXEw/rs:fit:656:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC4z/dVFFUW9oQU4wek5r/b25UdExiVFhnSGFG/VyZwaWQ9QXBp" class="card-img-top" alt="image">
                        <div class="card-body">
                            <h5 class="card-title">Beef,carcass,separable lean and fat,choice,raw(100 g)</h5>
                            <p class="card-text">
                                PROTEINS : 17.0g
                                CARBOHYDRATES: 0.0g
                                CALCIUM:8mg<BR>
                                FATS : 24.0g
                            </p>
                        </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class=card>
                     <img src="https://imgs.search.brave.com/kwcAcxT_I4uMoZm4zf60akwmIjNwBT37aoxp6P-KAPA/rs:fit:632:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC55/QlRjMHlTaWpUdnAz/d0x1NmJ5R2xBSGFG/aiZwaWQ9QXBp" class="card-img-top" alt="image">
                        <div class="card-body">
                            <h5 class="card-title">Beef,retail cuts,separable fat,raw(100 g)</h5>
                            <p class="card-text">
                                PROTEINS : 8.0g
                                CARBOHYDRATES: 0.0g
                                CALCIUM:26mg<BR>
                                FATS : 70.0g
                            </p>
                        </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class=card>
                     <img src="https://imgs.search.brave.com/uRQwEl1mN435sB4xJikjJwzokt1K6o6oPCF68y7JXuc/rs:fit:711:225:1/g:ce/aHR0cHM6Ly90c2U0/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC40/RV9tLWducDNIRjdO/c3p6a3Y3djh3SGFF/OCZwaWQ9QXBp" class="card-img-top" alt="image">
                        <div class="card-body">
                            <h5 class="card-title">Beef,brisket,whole,separable lean only,all grades,raw(100 g)</h5>
                            <p class="card-text">
                                PROTEINS : 20.0g
                                CARBOHYDRATES: 0.0g
                                CALCIUM:5mg<BR>
                                FATS : 7.0g
                            </p>
                        </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class=card>
                     <img src="https://imgs.search.brave.com/VT1qn-w0BIqBR10fKoru6eL0fXHM0lgwqCVggCg7VTs/rs:fit:713:225:1/g:ce/aHR0cHM6Ly90c2Uz/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5m/X3hKYkc2ZG9EQWFi/UlhxVHkyNkNBSGFF/NyZwaWQ9QXBp" class="card-img-top" alt="image">
                        <div class="card-body">
                            <h5 class="card-title">Beef,grass-fed,ground,raw(100 g)</h5>
                            <p class="card-text">
                                PROTEINS : 19.0g
                                CARBOHYDRATES: 0.0g
                                CALCIUM:12mg<BR>
                                FATS : 12.0g
                            </p>
                        </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class=card>
                     <img src="https://imgs.search.brave.com/d3SIZec1c3I20TIhdoEpCVCDzfleKw8TdwRpFFWRZeU/rs:fit:844:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC52/NE1Ec1k5M2NQMTZ4/aUhyU2VFVWJnSGFF/SyZwaWQ9QXBp" class="card-img-top" alt="image">
                        <div class="card-body">
                            <h5 class="card-title">USDA Commodity,beef,canned(100 g) </h5>
                            <p class="card-text">
                                PROTEINS : 20.0g
                                CARBOHYDRATES: 0.0g
                                CALCIUM:10mg<BR>
                                FATS : 17.0g
                            </p>
                        </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class=card>
                     <img src="https://imgs.search.brave.com/dt-kkp73ZgudREPUo1SWqAnMfZQbwad-DmMVUn3vK-w/rs:fit:711:225:1/g:ce/aHR0cHM6Ly90c2U0/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5P/UUxrYjMwQjI4eXFa/cTNLeGlhNm9RSGFF/OCZwaWQ9QXBp" class="card-img-top" alt="image">
                        <div class="card-body">
                            <h5 class="card-title">Beef,ground,patties,frozen,cooked,brolled(100 g)</h5>
                            <p class="card-text">
                                PROTEINS : 23.0g
                                CARBOHYDRATES: 0.0g
                                CALCIUM:11mg<BR>
                                FATS : 21.0g
                            </p>
                        </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class=card>
                     <img src="https://imgs.search.brave.com/i2YPj95G_2vgPDdfnQV717kA9oeksaRgtu4qMuLbhBQ/rs:fit:651:225:1/g:ce/aHR0cHM6Ly90c2Uy/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5v/RzBrWkJIZjNYMTlR/UkhBUmVfeXRRSGFG/WiZwaWQ9QXBp" class="card-img-top" alt="image">
                        <div class="card-body">
                            <h5 class="card-title">Beef,variety meats and by-products,heart,raw(100 g)</h5>
                            <p class="card-text">
                                PROTEINS : 17.0g
                                CARBOHYDRATES: 0.0g
                                CALCIUM:7mg<BR>
                                FATS : 3.0g
                            </p>
                        </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class=card>
                     <img src="https://imgs.search.brave.com/CBTRXC0FnrFZq8OIyFRUaHF5wQItcnKetjD0CR_Khzg/rs:fit:632:225:1/g:ce/aHR0cHM6Ly90c2U0/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5t/OFRsbjJHbm9TbERu/YkVTalpHSDRBRWdE/WSZwaWQ9QXBp" class="card-img-top" alt="image">
                        <div class="card-body">
                            <h5 class="card-title">Beef,variety meats and by-products,kidneys,raw(100 g)</h5>
                            <p class="card-text">
                                PROTEINS : 17.0g
                                CARBOHYDRATES: 0.0g
                                CALCIUM:13mg<BR>
                                FATS : 3.0g
                            </p>
                        </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class=card>
                     <img src="https://imgs.search.brave.com/3KREgQcQBDC1oPjOj7xW5TkFGKjEitq1dGnzobhCIBU/rs:fit:632:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC55/ZDVWVzNQM1ViUnB0/bTd5cmplMW1BSGFG/aiZwaWQ9QXBp" class="card-img-top" alt="image">
                        <div class="card-body">
                            <h5 class="card-title">Beef,variety meats and by-products,liver,raw(100 g)</h5>
                            <p class="card-text">
                                PROTEINS : 20.0g
                                CARBOHYDRATES: 0.0g
                                CALCIUM:5mg<BR>
                                FATS : 3.0g
                            </p>
                        </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class=card>
                     <img src="https://imgs.search.brave.com/X2OObI44oy0BjTnYSA01LhOeD4yeJCUORIL9JlPf3pY/rs:fit:450:225:1/g:ce/aHR0cHM6Ly90c2Uy/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5F/Rl9vbjNiUE5vWC1G/UEcyVkZVY2V3QUFB/QSZwaWQ9QXBp" class="card-img-top" alt="image">
                        <div class="card-body">
                            <h5 class="card-title">Beef,cured,corned beef,brisket,raw(100 g)</h5>
                            <p class="card-text">
                                  PROTEINS : 14.0g
                                  CARBOHYDRATES: 0.0g
                                  CALCIUM:7mg<BR>
                                  FATS : 14.0g
                            </p>
                        </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class=card>
                     <img src="https://imgs.search.brave.com/WiDQ9xbw5CFdihJxrYg7SelSJu2LCgPABfCDxFbfIdU/rs:fit:711:225:1/g:ce/aHR0cHM6Ly90c2U0/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5a/ekNaS2FrOUZaU1BZ/WkFpMi12VlZRSGFF/OCZwaWQ9QXBp" class="card-img-top" alt="image">
                        <div class="card-body">
                            <h5 class="card-title">Beef,cured,corned beef,brisket,cooked(100 g)</h5>
                            <p class="card-text">
                                  PROTEINS : 18.0g
                                  CARBOHYDRATES: 0.0g
                                  CALCIUM:8mg<BR>
                                  FATS : 18.0g
                            </p>
                        </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class=card>
                     <img src="https://imgs.search.brave.com/Spee8PNnOlTKp90-0Tvcs6MKPQEp9ZXjKuRDAznO-Wo/rs:fit:632:225:1/g:ce/aHR0cHM6Ly90c2Uz/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5i/OVV3OEpHQ2d3V0d3/ZWxsUjc1bktRSGFG/aiZwaWQ9QXBp" class="card-img-top" alt="image">
                        <div class="card-body">
                            <h5 class="card-title">Beef,ribeye cap steak,boneless,separable lean only,trimmed to 0 fat,all grades,raw(100 g)</h5>
                            <p class="card-text">
                                PROTEINS : 19.0g
                                CARBOHYDRATES: 1.0g
                                CALCIUM:6mg<BR>
                                FATS : 10.0g
                            </p>
                        </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class=card>
                     <img src="https://imgs.search.brave.com/nHXPAHXNMYDKII1ZAmdGbd9pg_f69rC6BRQVyc9MljQ/rs:fit:632:225:1/g:ce/aHR0cHM6Ly90c2U0/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5M/d08zT2RjN0xfNENj/SXBxM0VKOFJBSGFG/aiZwaWQ9QXBp" class="card-img-top" alt="image">
                        <div class="card-body">
                            <h5 class="card-title">Beef chuck,seperable lean,raw</h5>
                            <p class="card-text">
                                PROTEIN : 19g
                                CARBOHYDRATES: 0g
                                CALCIUM:228mg<BR>
                                FATS : 13g
                            </p>
                        </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class=card>
                     <img src="https://imgs.search.brave.com/losVGlQOlt8DetPMSmhn3la9p28_310NldcUxNY9Wnk/rs:fit:713:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC56/T2VsNFN1SGVkcEVz/WnNtMWtyZG1nSGFF/NyZwaWQ9QXBp" class="card-img-top" alt="image">
                        <div class="card-body">
                            <h5 class="card-title">Beef knuckle,steak,seperable lean,raw</h5>
                            <p class="card-text">
                                PROTEIN : 20g
                                CARBOHYDRATES: 0g
                                CALCIUM:188mg<BR>
                                FATS : 20g
                            </p>
                        </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class=card>
                     <img src="https://imgs.search.brave.com/Ps3jZo_HkYjUfUnLnDUKxixKhn0kySvLbebOLJiTCCk/rs:fit:632:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5y/bW1icm4zWlJrQm83/Y2gwWG9ZRGNnSGFG/aiZwaWQ9QXBp" class="card-img-top" alt="image">
                        <div class="card-body">
                            <h5 class="card-title">Beef chuck,medallion,seperable lean,raw</h5>
                            <p class="card-text">
                                PROTEIN : 26g
                                CARBOHYDRATES: 0g
                                CALCIUM:166mg<BR>
                                FATS : 7g
                            </p>
                        </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class=card>
                     <img src="https://imgs.search.brave.com/nHXPAHXNMYDKII1ZAmdGbd9pg_f69rC6BRQVyc9MljQ/rs:fit:632:225:1/g:ce/aHR0cHM6Ly90c2U0/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5M/d08zT2RjN0xfNENj/SXBxM0VKOFJBSGFG/aiZwaWQ9QXBp" class="card-img-top" alt="image">
                        <div class="card-body">
                            <h5 class="card-title">Beef chuck eye,seperable lean raw</h5>
                            <p class="card-text">
                                PROTEIN : 30g
                                CARBOHYDRATES: 0g
                                CALCIUM:234mg<BR>
                                FATS : 12g
                            </p>
                        </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class=card>
                     <img src="https://imgs.search.brave.com/evQpF51fRLJwbv4qPIBhJvtqas77FeSbcx3PeXMRdkM/rs:fit:711:225:1/g:ce/aHR0cHM6Ly90c2Uy/LmV4cGxpY2l0LmJp/bmcubmV0L3RoP2lk/PU9JUC5BNjdfVmd4/YkJpck9VYjVuSmVQ/azZRSGFFOCZwaWQ9/QXBp" class="card-img-top" alt="image">
                        <div class="card-body">
                            <h5 class="card-title">Beef shoulder pot roast,seperable lean raw</h5>
                            <p class="card-text">
                                PROTEIN : 31g
                                CARBOHYDRATES: 0g
                                CALCIUM:196mg<BR>
                                FATS : 7g
                            </p>
                        </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class=card>
                     <img src="https://imgs.search.brave.com/Kgs9S9cFPO-CclwxmEmal-YWxRPNgtnBzZoQAORCyPY/rs:fit:632:225:1/g:ce/aHR0cHM6Ly90c2U0/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5a/Z1Q4TkFRT0hLMmQ1/dnAxeVVJMVp3SGFG/aiZwaWQ9QXBp" class="card-img-top" alt="image">
                        <div class="card-body">
                            <h5 class="card-title">Beef chuck for stew,seperable lean,raw</h5>
                            <p class="card-text">
                                PROTEIN : 21g
                                CARBOHYDRATES: 0g
                                CALCIUM:130mg<BR>
                                FATS : 4g
                            </p>
                        </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class=card>
                     <img src="https://imgs.search.brave.com/Q8UzoAFT0yBgk6vd8MisE9QQoZL-O8YT1qfYXigF1g8/rs:fit:774:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5O/S1lKY09PNndqX2Ez/VmNwcEV0cGt3SGFF/aSZwaWQ9QXBp" class="card-img-top" alt="image">
                        <div class="card-body">
                            <h5 class="card-title">Beef rib,back ribs,bone in seperable lean,raw</h5>
                            <p class="card-text">
                                PROTEIN : 18g
                                CARBOHYDRATES: 0g
                                CALCIUM:306mg<BR>
                                FATS : 19g
                            </p>
                        </div>
                </div>
            </div>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->
         
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
         
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
  </body>
</html>