<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>LAMP , VEAL ,title>
  </head>
  <body>
    <div class="container">
        <div class="row gy-3 my-3">
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class=card>
                     <img src="https://imgs.search.brave.com/ZufBt05z2kWDYlBWAIBVXmLwh20TtjLOElFtBr59z4U/rs:fit:474:225:1/g:ce/aHR0cHM6Ly90c2Uy/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5D/YnhPZkwtTEVmRktC/T0JaNGdXeUtBSGFI/YSZwaWQ9QXBp" class="card-img-top" alt="image">
                        <div class="card-body">
                            <h5 class="card-title"> AUSTRALIAN VEAL </h5>
                            <p class="card-text">
                                PROTEIN : 21.7g
                                CARBOHYDRATES: 1.4g
                                CALCIUM:10mg<BR>
                                FATS : 2.053g
                            </p>
                        </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3"">
                <div class="card">
                     <img src="https://imgs.search.brave.com/sVcdd04hFIh8jKRcogw6UF63aueuMCn3wdRta0mkHJE/rs:fit:503:225:1/g:ce/aHR0cHM6Ly90c2Uz/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC52/RWo0cDA5Y2J4RmZT/SFBHdXhtMk9BSGFH/LSZwaWQ9QXBp" class="card-img-top" alt="image">
                        <div class="card-body">
                            <h5 class="card-title"> LAMB LEAN </h5>
                            <p class="card-text">
                                PROTEIN : 16.8g
                                CARBOHYDRATES: 0g
                                CALCIUM:12mg<BR>
                                FATS : 9.47g
                            </p>
                        </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3"">
                <div class="card">
                     <img srC="https://imgs.search.brave.com/zlmoj6fmmA-xjgyO7TN11OSBbYhtUCOJNgG3lOPsQqw/rs:fit:632:225:1/g:ce/aHR0cHM6Ly90c2Uz/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5S/NDBfdnRldlJFR2Ro/MlpSUmpjYWZ3SGFG/aiZwaWQ9QXBp "class="card-img-top" alt="image">
                        <div class="card-body">
                            <h5 class="card-title"> SIRLION </h5>
                            <p class="card-text">
                                PROTEIN : 20.55g
                                CARBOHYDRATES: 0g
                                CALCIUM:7mg<BR>
                                FATS :1.82g
                            </p>
                        </div>
                        </div>
            </div>
              <div class="col-sm-6 col-md-4 col-lg-3"">
                <div class="card">
                     <img src="https://imgs.search.brave.com/Q-IMhfAKocTYTCl3JbTPwLrIcf90Y2vZE7FPQ3lNgwE/rs:fit:474:225:1/g:ce/aHR0cHM6Ly90c2U0/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC4x/NmM2NjVUWHg3T2Vt/UHh4MEkzaXJ3SGFI/YSZwaWQ9QXBp" class="card-img-top" alt="image">
                        <div class="card-body">
                            <h5 class="card-title"> SHANK MEET </h5>
                            <p class="card-text">
                                PROTEIN : 26.41g
                                CARBOHYDRATES: 0g
                                CALCIUM:10mg<BR>
                                FATS : 5.09g
                            </p>
                        </div>
                        </div>
              </div>
        </div>
            <div class="row gy-3 my-3">
                <div class="col-sm-6 col-md-4 col-lg-3"">
                    <div class="card">
                         <img src="https://imgs.search.brave.com/mfKjYfB4Ms5TS0ciZs1rx_EgNaFMPPUrZd2i1OvnqKo/rs:fit:474:225:1/g:ce/aHR0cHM6Ly90c2Uy/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC50/dVpFZVM3SVQxOHI4/ZlNQU2M5OGFnSGFI/YSZwaWQ9QXBp" class="card-img-top" alt="image">
                        <div class="card-body">
                            <h5 class="card-title"> LOIN</h5>
                            <p class="card-text">
                                PROTEIN : 25.17g
                                CARBOHYDRATES: 0g
                                CALCIUM:20mg<BR>
                                FATS : 9.83g
                            </p>
                        </div>
                   
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3"">
                    <div class="card">
                         <img src="https://imgs.search.brave.com/0gKqADgSCuza4TnXCOg7Y4xfdbu95Qw3UdU2fbxGq_I/rs:fit:674:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5j/NFdjTXVQTllhUFVz/djZEX1dIVlNBSGFG/TiZwaWQ9QXBp" class="card-img-top" alt="image">
                        <div class="card-body">
                            <h5 class="card-title"> LAMB RIBS </h5>
                            <p class="card-text">
                                PROTEIN : 21.11g
                                CARBOHYDRATES: 0g
                                CALCIUM:22mg<BR>
                                FATS : 12.77g
                            </p>
                        </div>
                   
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3"">
                    <div class="card">
                         <img src="BEEFhttps://imgs.search.brave.com/MPYK0Kf-K3wd4ZPvLe9pJoI7XUzoaeTCagqkCE9KjMg/rs:fit:670:225:1/g:ce/aHR0cHM6Ly90c2U0/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC44/ZzhRZlkyRVBLRTY2/UURVcl9UTEh3SGFG/UCZwaWQ9QXBp" class="card-img-top" alt="image">
                        <div class="card-body">
                            <h5 class="card-title"> BEEF </h5>
                            <p class="card-text">
                                PROTEIN : 20.19g
                                CARBOHYDRATES: 0g
                                CALCIUM:3mg<BR>
                                FATS : 5.361g
                            </p>
                        </div>
                   
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3"">
                    <div class="card">
                         <img src="https://imgs.search.brave.com/MQunDOZH0SQpt1YfIAa-GMQ5LcJbCFFZ7MiHzcTcT-g/rs:fit:713:225:1/g:ce/aHR0cHM6Ly90c2Uy/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC50/c3FGWHVwQmVEQWF4/Yk9feXpqN1lBSGFF/NyZwaWQ9QXBp" class="card-img-top" alt="image">
                        <div class="card-body">
                            <h5 class="card-title"> WAGYU BEEF</h5>
                            <p class="card-text">
                                PROTEIN : 28g
                                CARBOHYDRATES:0g
                                CALCIUM:12.02mg<BR>
                                FATS : 2.093g
                            </p>
                        </div>
                   
                    </div>
                </div>    
               
            </div>
            <div class="row gy-3 my-3">
                <div class="col-sm-6 col-md-4 col-lg-3"">
                    <div class="card">
                         <img src="https://imgs.search.brave.com/MJk9jkHECUQKVEtAb-WreP417NGEfPmFh2GxcjZDZe4/rs:fit:711:225:1/g:ce/aHR0cHM6Ly90c2Uy/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5m/Vm1fcHdGWTBpMTMt/SVlKUkxWaTdRSGFF/OCZwaWQ9QXBp" class="card-img-top" alt="image">
                      <div class="card-body">
                            <h5 class="card-title"> KOBE </h5>
                            <p class="card-text">
                                PROTEIN : 25.96g
                                CARBOHYDRATES: 0g
                                CALCIUM:10mg<BR>
                                FATS : 8.484g
                            </p>
                        </div>
                   
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3"">
                    <div class="card">
                         <img src="https://imgs.search.brave.com/EuHB2wXiCTCQziOPrgTbKkFAC7LYmanS9aylWTJYOKs/rs:fit:474:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5L/Ul9uNFZyeUdNZ180/R29OTFFzMlhRSGFI/YSZwaWQ9QXBp" class="card-img-top" alt="image">
                        <div class="card-body">
                            <h5 class="card-title"> RIB CHOP</h5>
                            <p class="card-text">
                                PROTEIN : 30.9g
                                CARBOHYDRATES: 0g
                                CALCIUM:10mg<BR>
                                FATS : 8.48g
                            </p>
                        </div>
                   
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3"">
                    <div class="card">
                         <img src="https://imgs.search.brave.com/luiZ-M-DxPvKI4Q0TzTkTj4LIw6_X13fUgfR55rWyD4/rs:fit:693:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC44/WE93eDAtRlhzaldJ/dW1DakRUR0tRSGFG/RSZwaWQ9QXBp" class="card-img-top" alt="image">
                        <div class="card-body">
                            <h5 class="card-title"> DENUDED BEEF </h5>
                            <p class="card-text">
                                PROTEIN : 25.95g
                                CARBOHYDRATES: 0g
                                CALCIUM:7mg<BR>
                                FATS : 4.743g
                            </p>
                        </div>
                   
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3"">
                    <div class="card">
                         <img src="https://imgs.search.brave.com/-gU0UUiNAKFS5wnQzvypLBgepMKGDfk6lQHME_1Oi30/rs:fit:711:225:1/g:ce/aHR0cHM6Ly90c2Uz/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5I/NWpldVlnVG5HT3py/cm5nNmJyTk1RSGFF/OCZwaWQ9QXBp" class="card-img-top" alt="image">
                        <div class="card-body">
                            <h5 class="card-title"> VEAL RIB ROAST  </h5>
                            <p class="card-text">
                                PROTEIN : 21g
                                CARBOHYDRATES: 4.63g
                                CALCIUM:10mg<BR>
                                FATS : 2.053g
                            </p>
                        </div>
                   
                    </div>
                </div>
                <div class="row gy-3 my-3">
                    <div class="col-sm-6 col-md-4 col-lg-3"">
                        <div class="card">
                             <img src="https://imgs.search.brave.com/SmiH2H5GMkrcUKO6Ez1Zeehqhe9W5qaEkrzhK8mRyhQ/rs:fit:432:225:1/g:ce/aHR0cHM6Ly90c2Uy/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5h/MjkzazFwQjdObVQ2/QjNZWWxwZkJBQUFB/QSZwaWQ9QXBp" class="card-img-top" alt="image">
                            <div class="card-body">
                                <h5 class="card-title"> LAMP FORESHANK </h5>
                              <p class="card-text">
                                PROTEIN : 18.0g
                                CARBOHYDRATES: 0g
                                CALCIUM:11mg<BR>
                                FATS : 5.83g

                              </p>
                            </div>
                       
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3"">
                        <div class="card">
                             <img src="https://imgs.search.brave.com/qH9fogRMc3E7J0ifPaHcbAYfcBuQbPi1F98AL4kmnDM/rs:fit:556:225:1/g:ce/aHR0cHM6Ly90c2Uy/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5P/Tm5rVUJlOUEwS3Z0/YmRlSWtGeGtBSGFH/VSZwaWQ9QXBp" class="card-img-top" alt="image">
                            <div class="card-body">
                                <h5 class="card-title"> BROILED LAMB </h5>
                              <p class="card-text">
                                PROTEIN : 22.13g
                                CARBOHYDRATES: 0g
                                CALCIUM:19mg<BR>
                                FATS : 12.7g


                              </p>
                            </div>
                       
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3"">
                        <div class="card">
                             <img src="https://imgs.search.brave.com/9HrXpbfQuphzFkeHvVKN2FHzHHkQcuG4Qcx9ruyWmoM/rs:fit:715:225:1/g:ce/aHR0cHM6Ly90c2Uz/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC4y/NVJ2MElaVGJiNzNs/dlpqOXlEQVpnSGFF/NiZwaWQ9QXBp" class="card-img-top" alt="image">
                            <div class="card-body">
                                <h5 class="card-title"> MILK </h5>
                              <p class="card-text">
                                PROTEIN : 10%
                                CARBOHYDRATES: 10%
                                CALCIUM:10%<BR>
                                FATS : 10%


                              </p>
                            </div>
                       
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3"">
                        <div class="card">
                             <img src="https://imgs.search.brave.com/9HrXpbfQuphzFkeHvVKN2FHzHHkQcuG4Qcx9ruyWmoM/rs:fit:715:225:1/g:ce/aHR0cHM6Ly90c2Uz/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC4y/NVJ2MElaVGJiNzNs/dlpqOXlEQVpnSGFF/NiZwaWQ9QXBp" class="card-img-top" alt="image">
                            <div class="card-body">
                                <h5 class="card-title"> MILK </h5>
                              <p class="card-text">
                                PROTEIN : 10%
                                CARBOHYDRATES: 10%
                                CALCIUM:10%<BR>
                                FATS : 10%


                              </p>
                            </div>
                       
                        </div>
                    </div>
                    <div class="row gy-3 my-3">
                        <div class="col-sm-6 col-md-4 col-lg-3"">
                            <div class="card">
                                 <img src="https://imgs.search.brave.com/845-MXmd0c3JLQzyys6LYIRIjtUapXg260ayTpjgVdY/rs:fit:474:225:1/g:ce/aHR0cHM6Ly90c2Uy/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5f/TGFjV3luZ2M4TlhC/aHZtODBKRE53SGFI/YSZwaWQ9QXBp" class="card-img-top" alt="image">
                                <div class="card-body">
                                    <h5 class="card-title"> LAMB SHOULDER </h5>
                                   <p class="card-text">
                                    PROTEIN : 24.0g
                                    CARBOHYDRATES: 0g
                                    CALCIUM:19.0mg<BR>
                                    FATS : 10%

                                   
                                   </p>
                                </div>
                           
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"">
                            <div class="card">
                                 <img src="https://imgs.search.brave.com/6V1ARtlfOfZz0stkgBSZP5dxr3SP7dRhMzosDiMCoxk/rs:fit:300:225:1/g:ce/aHR0cHM6Ly90c2Uy/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5H/eEtLVndPQmpTMFh3/d0kxTlEwNXR3QUFB/QSZwaWQ9QXBp" class="card-img-top" alt="image">
                                <div class="card-body">
                                    <h5 class="card-title"> KABOB </h5>
                                   <p class="card-text">
                                    PROTEIN : 20.5g
                                    CARBOHYDRATES: 0g
                                    CALCIUM:0.5mg<BR>
                                    FATS : 9g

                                   
                                   </p>
                                </div>
                           
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"">
                            <div class="card">
                                 <img src="https://imgs.search.brave.com/1270gqJ09gydO8l79jQlBEmYIkFRkqWtX1qRb-8WIas/rs:fit:713:225:1/g:ce/aHR0cHM6Ly90c2Uz/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5C/TWkxYUtrblhhSVFq/MzdXN3FEeWdBSGFF/NyZwaWQ9QXBp" class="card-img-top" alt="image">
                                <div class="card-body">
                                    <h5 class="card-title"> LAMB RETAIL CUT </h5>
                                   <p class="card-text">
                                    PROTEIN : 15.2g
                                    CARBOHYDRATES: 0g
                                    CALCIUM: 4.0mg<BR>
                                    FATS : 206g

                                   
                                   </p>
                                </div>
                           
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"">
                            <div class="card">
                                 <img src="https://imgs.search.brave.com/2I2Ul4m9EXqvthmQNS1_229JcO47LRQ8OVTEEzRMTuw/rs:fit:713:225:1/g:ce/aHR0cHM6Ly90c2Uz/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5X/R041eXh2RHVGcEph/RDdTWlcxTVlBSGFF/NyZwaWQ9QXBp" class="card-img-top" alt="image">
                                <div class="card-body">
                                    <h5 class="card-title"> LAMP LEG CHOP </h5>
                                   <p class="card-text">
                                    PROTEIN : 10.54g
                                    CARBOHYDRATES: 0g
                                    CALCIUM:3.546mg<BR>
                                    FATS : 3.12g

                                   
                                   </p>
                                </div>
                           
                            </div>
                        </div>

   
   
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
  </body>
</html>

